Flask
Flask-Migrate
Flask-SocketIO
Flask-WTF
SQLAlchemy
Jinja2==3.0.3
pdfkit
mysqlclient
WTForms
dominate

# pip install setuptools --upgrade
# pip install --user -U jinja2-fsloader
# socketio
# psycopg2
# visitor -- muestra salida mas legible en consola de JSON

