{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="wel" style="background-color: transparent; overflow:auto ">
    <div class="container-fluid">
        <img src="/static/img/img_escudo.png" class="img-fluid" style="max-width: 500px;">
    </div>
    <div class="container-fluid p-5">
        <!--audio  autoplay>
			  <source src="static/audio/Positivo.mp3.ogg" type="audio/ogg">
			  <source src="http://localhost:5000/static/audio/Positivo.mp3" type="audio/mpeg">
			  Tu navegador no soporta el elemento "audio".
			</audio-->
        <div class="row" id="contenidoTurnos">
            <div class="col-md-10">
                <table width="80%" border="0" style="margin:0 auto">
                    <tr>
                        <td>
                            
  							</td>
  						</tr>
  					</table>

                    <script> /* $(document).ready(function(){ consultarTurnos() } ); */</script>
					<form action="" id="forma" name="forma" method="post">
						<input type="hidden" name="csrf_token" value = "{{csrf_token()}}">
						<input type="hidden" name="accion" id="accion" value="">
						<div class="row p-1">
							<div class="col-md-1">
								<label for="">Tipo de turno</label>
							</div>
							<div class="col-md-3">
								<select name="tipo" id="tipo" class="form-control">
									<option value="1">Normal</option>
									<option value="2">Urgente</option>
								</select>
							</div>
						</div>
						<div class="row p-1">
							<div class="col-md-1">
								<label for="">Comentarios</label>
							</div>
							<div class="col-md-4">
								<textarea name="comentarios" id="comentarios" cols="30" rows="2" class="form-control"></textarea>
							</div>
						</div>
						<div class="row m1"> 
							<div class="col-md-6">
								<a href="javascript:validarInfo()">
									<input type="button" class="btn btn-success txt-center m-3" value="Nuevo turno">
								</a>
							</div>
						</div>
					</form>
					
					<div class="row" id="divTurnos">
						<div class="col-md-6">
							<table class="table table-striped" width="60%" border="1" align="top" cellpadding="10" cellspacing="0"  style="margin:0 auto">
								<thead>
								<tr>
									<td style="background-color:black; font-weight: bold; color:white; font-size:1em; border-collapse:collapse;" cellpadding="0" cellspacing="0" align="center" valign="top" width="25%">TURNO</td>
									<td style="background-color:black; font-weight: bold; color:white; font-size:1em;" cellpadding="0" cellspacing="0" align="center" valign="middle" width="25%">VENTANILLA</td>
									<td style="background-color:black; font-weight: bold; color:white; font-size:1em;" cellpadding="0" cellspacing="0" align="center" valign="middle" width="25%">ESTATUS</td>
								</tr>
								</thead>
								<tbody style="font-size:1.5em; text-align:center">
								
									{% for datos in turnos %}
									<tr>
										<td>{{datos.NumTurno}}</td>
										{% if datos.EstatusTurnoId == 2 %}
										<td>{{datos.VentanillaId}}</td>
										<td>Atendiendo</td>
										{% endif %}
										{% if datos.EstatusTurnoId == 1 %}
										<td colspan="2">En espera</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
  				</div>

</div>
</div>
</div>

{% endblock %}