{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div id="wel" style="background-color: transparent; ">
		<div class="container-fluid">
			<img src="/static/img/img_escudo.png" class="img-fluid" style="max-width: 500px;">
		</div>
	  	<div class="container-fluid p-5"  >
  			<div class="row" id="contenidoTurnos">
  				<div class="col-md-5" >
  					<table width="80%" border="0" style="margin:0 auto">
  						<tr>
  							<td>
  			  					<?php echo $Horario ?
  							</td>
  						</tr>
  					</table>

					<div class="row" id="divTurnos">
						<script> /* $(document).ready(function(){ consultarTurnos() } ); */</script>
  						<table class="table table-striped " width="100%" border="1" align="top" cellpadding="20" cellspacing="0"  style="margin:0 auto">
			    			<thead>
						      <tr>
						      	<td style="background-color:black; font-weight: bold; color:white; font-size:1em; border-collapse:collapse;" cellpadding="0" cellspacing="0" align="center" valign="top">TURNO</td>
						      	<td style="background-color:black; font-weight: bold; color:white; font-size:1em;" cellpadding="0" cellspacing="0" align="center" valign="middle" >VENTANILLA</td>
						      	<td style="background-color:black; font-weight: bold; color:white; font-size:1em;" cellpadding="0" cellspacing="0" align="center" valign="middle" >ESTATUS</td>
						      </tr>
							</thead>
							<tbody style="font-size:2em; text-align:center">
								{% for datos in turnos %}
								<tr>
									<td>{{datos.numero}}</td>
									{% if datos.estado == 2 %}
									<td>{{datos.ventanilla_id}}</td>
									<td>Atendiendo</td>
									{% endif %}
									{% if datos.estado == 1 %}
									<td colspan="2">En espera</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						  </table>
					</div>
  				</div>

  				<div class="col-md-4">
  					<div class="row" id="divTurnoActual">
  						<div class="col-md-12 text-center">
		  					<label class="bg-danger w-100 text-white font-weight-bold display-4 img-rounded">TURNO</label><br>
					  		<label class="pb-5 m-0 text-danger" style="font-size: 15vw; font-weight: bold; line-height:1; min-height:1.3em " id="datoTurno">{{turno.numero}}</label><br>
					  		<label class="bg-info w-100 text-white font-weight-bold mt-1" style="font-size: 3vh">VENTANILLA</label><br>
					  		<label class="p-0 m-0 text-info" style=" font-size: 15vw; font-weight: bold; line-height: .8; " id="datoVentanilla">{{turno.ventanilla_id}}</label>
							{% if sonido %}
								<audio autoplay>
									<source src="static/audio/Positivo.mp3" type="audio/ogg">
									<source src="http://localhost:5000/static/audio/Positivo.mp3" type="audio/mpeg">
									Tu navegador no soporta el elemento "audio".
								</audio>
							{% endif %}
  						</div>
  					</div>
  				</div>
  			</div>
		</div>
	</div>

{% endblock %}
